@charset "UTF-8";
/* CSS Document */
/*on fait un reset pour éliminer les espacements intrinseques produits par certaines balises*/
*{
	margin:0;
	padding:0;
	box-sizing:border-box;
}

@font-face {
	font-family: "Libre Baskerville";
	src: url("../asset/fonts/Libre_Baskerville/LibreBaskerville-Italic.ttf") format("truetype"),
		url("../asset/fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf") format("truetype"),
		url("../asset/fonts/Libre_Baskerville/LibreBaskerville-Bold.ttf") format("truetype");
   }

/*permet de retirer les bordures mises en automatique par le
navigateur lors d'un clic*/
a,input, textarea{
	outline:none;
}

h1, h2, h3{
	font-family: "Libre Baskerville", serif;
}

h2{
	width:100%;
}


a{	
	text-decoration: none;
	display: inline-block;
	/* padding: 5px 15px; */
}

body{
	font-size: 1.2rem;
	font-family: 'Roboto', sans-serif;
}

header{
	justify-content: space-around;
	align-items: center;
	padding-top:30px;
	background-color:#eceff1 ;
}

header ul{
	display: flex;
	list-style: none;
	height: 5vh;
	position: relative;
}

header a{
	color: #000;
}

object {
	width: 15vw;
	height: 15vh;
	pointer-events: none;
}
header nav{
	z-index: 100;
}

header li{
	background-color: #f8f9fa;
}

.sousMenu{
	flex-direction: column;
	visibility: hidden;
}

/*_______________________________________________________________________________________________________________________________________________________________________________
____________________________________C A R O U S S E L ______________________________________________________________________________________________________________________*/

#caroussel{
	background-color: rgba(229, 155, 155, 0.4);
	padding: 2vh 0;
}

#carousel-example-generic img{
  display: block;
	width: 30%;
	max-width: 60%;
	height: auto;
	max-height: 30vh;
}

/*___________________________________________________________________________________________________________________________________________________________________________
____________________________________ P A G E D ' A C C U E I L _____________________________________________________________________________________________________*/

#recette{
	display: flex;
	flex-wrap: wrap;
	background-color: #eceff1;
}



#recette>article{
	width: 50%;
	padding: 20px 0;
	display: flex;
	flex-wrap: wrap;
}

#recette article img{
	display: inline-block;
	width: 100%;
	height: auto;
}

#recette article p{
	width: 45%;
	margin-right: 5%;
	padding: 15px;
}

#recette article:last-child{
	width: 100%;
	height: 30vh;
}

#recette>aside{
	width: 50%;
	background-color: #c99868a8;
	padding: 30px;
}

#recette>aside li{
	list-style-type: none;
	padding: 5px 0;
}

/*_____________________________________________
__________   Nous Contacter __________
_____________________________________________*/

#pageContact{
	display: flex;
	flex-wrap: wrap;
	min-height: 70vh;
	padding: 5vh;
	position: relative;
}

form>input, form>textarea, form img, form label{
	display: block;
	margin: 2vh 15%;
}

form>textarea{
	width: 400px;
	height: 200px;
	max-height: 400px;
}

#pol_conf{
	opacity: 0;
	position: fixed;
	padding: 4vw;
	top: 50%;
	left: 50%;
	z-index: 5;
	background-color: rgba(229, 155, 155, 1);
	transform: translate(-50%, -50%);
	text-align: left;
}

#pol{
	color: #000;
}

#pol_conf:target{
	opacity: 1;
	transition: 0.5s opacity;
}

/*_______________________________________________________________________________________________________________________________________________________________________________
____________________________________ P A G E  R E C E T T E ______________________________________________________________________________________________________*/

#pageRecette{
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
	padding: 5vh;
}

.miniRecette{
	height: 25vh;
	width: auto;
	box-shadow: 17px 5px 5px rgba(0, 0, 0, 0.767);
	margin: 2%;
	text-align: center;
}

.miniRecette img{
	display: inline-block;
	height: 20vh;
}

/*_______________________________________________________________________________________________________________________________________________________________________________
____________________________________F I C H E R E C E T T E ________________________________________________________________________________________________________________*/

#ficheRecette h1{
	text-align: center;
	margin-top: 20px;
}

#ficheRecette article{
	padding: 30px;
}

#ficheRecette img{
	display: inline-block;
	height: auto;
	width: 100%;
}

#ficheRecette ul{
	padding-left: 30px;
}

#ficheRecette li{
	list-style-type: none;
	padding: 5px 0;
}


/*________________________________________________________________________________________________________________________________________________________________________
____________________________________ P A G E  A R T I C L E ___________________________________________________________________________________________________________*/

#pageArticle{
	min-height: 70vh;
}
#pageArticle h2{
	text-align: center;
	margin-top: 20px;
}

.miniArticle{
	width: 90%;
    margin: 2% auto;
    display: flex;
    position: relative;
}

.miniArticle>div{
	padding: 15px 25px;
}

.miniArticle li{
	list-style-type: none;
	margin-bottom: 5px;
}


/*________________________________________________________________________________________________________________________________________________________________________
____________________________________ F I C H E  A R T I C L E ___________________________________________________________________________________________________________*/

#ficheArticle h1{
	text-align: center;
	margin-top: 20px;
}

#ficheArticle article{
	padding: 30px;
}

#ficheArticle img{
	display: inline-block;
	height: auto;
	width: 100%;
}

#ficheArticle ul{
	padding-left: 30px;
}

#ficheArticle li{
	list-style-type: none;
	padding: 5px 0;
}

/*______________________________________________________________________________________________________________________________________________________________________________
____________________________________F O O T E R______________________________________________________________________________________________________________________________*/

footer{
	background-color: #000;
	color: #fff;
	height: 10vh;
	justify-content: center;
	align-items: center;
}

#reseauxSociaux {
	margin-right:10px;
    margin-bottom: 15px;
}
#reseauxSociaux a{
	padding: 5px;
}

footer a{
	color: #fff;
}

/*/////   Q U I   S O M M E S   N O U S   /////*/

#pageWho {
	padding: 0 25px;
}

#pageWho h1{
	text-align: center;
	padding: 15px 0;
}
#pageWho img{
	width: 50%;
}

#part1, #part2{
	display: flex;
}

#pageWho p{
	padding: 15px 25px;
}

/*______________________________________________________________________________________________________________________________________________________________________________
____________________________ M E N T I O N  L E G A L ________________________________________________________________________________________________________________________*/

#mentionLegal{
	padding: 5vw;
}

#mentionLegal p{
	margin: 0 50px;

}
#mentionLegal h2{
	margin: 20px 15px;
}

/*_____________________________________________________________________________________________________________________________________________________________________
____________________________________L O A D E R______________________________________________________________________________________________________________________________*/

.loader{
	position : fixed;
	z-index: 9999;
	top : 0px;
	left : 0px;
	height : 100vh;
	width : 100%;
	cursor : wait;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgb(252, 253, 241);
}

/*_____________________________________________________________________________________________________________________________________________________________________
____________________________________4 0 4______________________________________________________________________________________________________________________________*/

#page404{
	text-align: center;
	padding: 15px;
}

#page404 figure{
	width: 80%;
	margin: 10vh auto 3vh;
}

#page404 img{
	width: 100%;
}

#page404 .cta{
	margin-top: 5vh;
}

#page404 .cta a{
	display: inline-block;
	padding: 15px 25px;
	border-radius: 15px;
	background-color: #F47E38;
	color: #DDDDDF;
}

#page404 .cta a:hover{
	background: #DDDDDF;
	color: #F47E38;
	transition: all .2 ease;
}

/* 
nav li:nth-child(2):hover .sousMenu{
	visibility: visible;
	position: absolute;
	bottom: -57px;
	left: 95px;
	z-index: 2;
	height: 70px;
	width: 50px;
} */