AddDefaultCharset UTF-8
AddCharset UTF-8 .html .css .js
SetEnv TZ Europe/Paris
ErrorDocument 404 http://localhost/recette/front/erreur.php?code=404
Options +FollowSymlinks
RewriteEngine on 
RewriteCond %{HTTP_HOST} ^www.mon-site.com [NC]
RewriteRule ^(.*)$ http://www.mon-site.fr/$1 [QSA,R=301]